<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<main>
  <div class="row center-xs">
    <div class="col-md-3">
      <mat-card>
        <mat-card-title><h3>This site is dedicated to the research of epicognition.</h3><br/><span style="margin:7px; padding:11px; border:1px solid #cfcffd; display:block; background-color: darkgray;">Similar to how epigenetics is the newly discovered dominant gravity to genetics, epicognition is, potentially, the newly discovered dominant gravity to cognition. </span></mat-card-title>
        </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          Areas open for discussion:
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <h4>Behavioural Negotiation for Placement of Default Behaviour</h4>
            </mat-list-item>
            <mat-list-item>
              <h4>Intemperance-Bias Myopia</h4>
            </mat-list-item>
            <mat-list-item>
              <h4>Situational and Dispositional Intoxication</h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
